<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=WIN-F8LTGGT2HCR\SQLEXPRESS;Initial Catalog=MaterialValues;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
